{% extends "main.html" %}
{% block content %}
{% include "header.html" %}
	<div class="row top-menu">
		<div class="col-md-10"></div>
		<div class="col-md-2 text-right">
					</div>
	</div>
	<div class="row divider blue">
		<div class="col-md-12"></div>
	</div>
	<div class="row banner main">
		<div class="col-md-1"></div>
		<div class="col-md-11 padding-none">
			<h1>Item Catalog</h1>
		</div>
	</div>

	{% for category in categories %}
		<div class="row">
			<div class="col-md-1"></div>
				<div class="col-md-6 category-list">
					<a href = "{{url_for('showItems', category_id = category.id)}}">
						<h3>{{category.name}}</h3>
					</a>
				</div>

				<div class="col-md-6">
					{% block sidebar %}
					{% endblock sidebar %}
				</div>
			<div class="col-md-1"></div>
		</div>
	{% endfor %}
{% endblock content %}
